# Задание 1.5
Напишите запрос, чтобы указать общее количество заказов для каждого клиента.

(Представлены два способа решения)

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").getOrCreate()

API

In [2]:
from pyspark.sql.functions import concat_ws

df_customers = spark.read.csv("CVS\\customers.csv", inferSchema=True, header=True, sep=",")
df_orders = spark.read.csv("CVS\\orders.csv", inferSchema=True, header=True, sep=",")

df_res = df_customers.join(df_orders, 
                           df_orders["customer_id"] == df_customers["customer_id"], "inner")

df_res = df_res.select(
    concat_ws(" ",df_customers["first_name"], 
              df_customers["last_name"]).alias("customer"))
df_res = df_res.groupBy("customer").count()

df_res.show()

+----------------+-----+
|        customer|count|
+----------------+-----+
|  Mary Singleton|    1|
|   Romelia Myers|    1|
| Pearlie Cochran|    1|
|      Heide Reed|    1|
|     Olevia Noel|    1|
| Toshia Cardenas|    1|
|  Lurlene Cotton|    1|
|     Londa Gould|    1|
|   Felice Guzman|    2|
| Valery Saunders|    1|
| Valeri Marshall|    1|
| Oliva Blackwell|    1|
|      Ciera Koch|    1|
|     Diana Reyes|    1|
|    Rodolfo Buck|    1|
|Donovan Cantrell|    1|
|     Mark Benton|    1|
|    Alica Hunter|    2|
|Hortencia O'neil|    1|
|  Chere Mcfadden|    1|
+----------------+-----+
only showing top 20 rows

spark.sql

In [3]:
df_customers = spark.read.csv("CVS\\customers.csv", inferSchema=True, header=True, sep=",")
df_orders = spark.read.csv("CVS\\orders.csv", inferSchema=True, header=True, sep=",")


df_customers.createOrReplaceTempView("customers")
df_orders.createOrReplaceTempView("orders")

spark.sql("""
            SELECT CONCAT_WS(' ',customers.first_name, customers.last_name) as customer, COUNT(orders.order_id) as count
            FROM customers
            INNER JOIN orders ON orders.customer_id = customers.customer_id
            GROUP BY customer;
          """).show()

+----------------+-----+
|        customer|count|
+----------------+-----+
|  Mary Singleton|    1|
|   Romelia Myers|    1|
| Pearlie Cochran|    1|
|      Heide Reed|    1|
|     Olevia Noel|    1|
| Toshia Cardenas|    1|
|  Lurlene Cotton|    1|
|     Londa Gould|    1|
|   Felice Guzman|    2|
| Valery Saunders|    1|
| Valeri Marshall|    1|
| Oliva Blackwell|    1|
|      Ciera Koch|    1|
|     Diana Reyes|    1|
|    Rodolfo Buck|    1|
|Donovan Cantrell|    1|
|     Mark Benton|    1|
|    Alica Hunter|    2|
|Hortencia O'neil|    1|
|  Chere Mcfadden|    1|
+----------------+-----+
only showing top 20 rows