# Задание 1.2
Напишите запрос, чтобы найти всех активных сотрудников и наименования магазинов, в которых они работают.

In [1]:
from sqlalchemy import create_engine
 
user = 'root'
password = 'NoMorFort19#'
host = '127.0.0.1'
port = 3306
database = 'bikestore'

def get_connection():
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(user, password, host, port, database)
    )


if __name__ == '__main__':
    try:
        engine = get_connection()
        print(f"Успешно подключено.")
    except Exception as ex:
        print("Не получилось подключиться: \n", ex)

Успешно подключено.

In [2]:
from sqlalchemy import text

with engine.connect() as connection:
    query="""
    SELECT CONCAT_WS(' ',staffs.first_name, staffs.last_name) as staff, stores.store_name
    FROM staffs
    JOIN stores ON stores.store_id = staffs.store_id
    WHERE staffs.active = 1
    order by staff"""
    my_data=list(connection.execute(text(query)))

for el in my_data:
    print(el)

('Bernardine Houston', 'Rowlett Bikes')
('Fabiola Jackson', 'Santa Cruz Bikes')
('Genna Serrano', 'Santa Cruz Bikes')
('Jannette David', 'Baldwin Bikes')
('Kali Vargas', 'Rowlett Bikes')
('Layla Terrell', 'Rowlett Bikes')
('Marcelene Boyer', 'Baldwin Bikes')
('Mireya Copeland', 'Santa Cruz Bikes')
('Venita Daniel', 'Baldwin Bikes')
('Virgie Wiggins', 'Santa Cruz Bikes')